<div class="container">
    <section class="section">
        <nav class="link-section">
            <a href="" id="back-link">zurück zur Startseite</a>
        </nav>
        <h2>
            Rangliste
        </h2>
        <div id="scoreboard-load-error" class="status-msg error" style="display: none;">
            <span class="material-icons" title="Tipp konnte nicht gespeichert werden">
                error
            </span>
            Rangliste konnte nicht geladen werden.
        </div>
        <table class="scoreboard-table">
            <thead>
                <tr>
                    <td>Spieler/in</td>
                    <td>Punkte</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
</div>