<h3>
    <span data-ref="team1"></span> -
    <span data-ref="team2"></span>
</h3>
<span data-ref="time"></span>
<form data-ref="odds-form" class="odds-form">
    <odds-button choice="0" data-ref="team1-odds"></odds-button>
    <odds-button choice="2" data-ref="draw-odds"></odds-button>
    <odds-button choice="1" data-ref="team2-odds"></odds-button>
</form>
<div data-ref="my-bet" class="status-msg my-bet">
    <span class="material-icons" title="Tipp abgegeben">
        done
    </span>
    <span>
        Dein Tipp
        <strong>
            <span data-ref="my-bet-team"></span>
        </strong>
        für
        <strong>
            <span data-ref="my-bet-odds"></span></strong>.
    </span>
</div>
<div data-ref="saving" class="status-msg saving">
    <span class="material-icons" title="Tipp wird gepeichert.">
        donut_large
    </span>
    Dein Tipp wird gespeichert.
</div>
<div data-ref="odds-changed-error" class="status-msg warning">
    <span class="material-icons" title="Tipp nicht gespeichert: Quoten geändert">
        warning
    </span>
    Dein Tipp wurde nicht gespeichert, weil sich die Quoten geändert haben.
</div>
<div data-ref="game-started-error" class="status-msg error">
    <span class="material-icons" title="Spiel hat bereits begonnen">
        error
    </span>
    Dein Tipp wurde nicht gespeichert, weil das Spiel bereits begonnen hat.
</div>
<div data-ref="save-error" class="status-msg error">
    <span class="material-icons" title="Tipp konnte nicht gespeichert werden">
        error
    </span>
    Beim Speichern ist ein Fehler aufgetreten.
</div>