<div class="container">
    <section class="section">
        <h2>
            Ergebnis eintragen
        </h2>
        <form>
            <div>
                <label for="game">Spiel</label>
                <select id="game" name="game" required="required"></select>
            </div>
            <div>
                <label for="team1-goals">Team1 Tore</label>
                <input type="number" id="team1-goals" name="team1-goals" min="0" required="required">
            </div>
            <div>
                <label for="team2-goals">Team2 Tore</label>
                <input type="number" id="team2-goals" name="team2-goals" min="0" required="required">
            </div>
            <button type="submit">Speichern</button>
        </form>
        <span style="display: none;" id="save-failed">Speichern fehlgeschlagen</span>
        <span style="display: none;" id="save-successful">Speichern erfolgreich</span>
    </section>
</div>