<form method="GET" action="https://accounts.google.com/o/oauth2/v2/auth" id="login_form">
    <input type="hidden" name="client_id" id="client_id"
        value="1074789941765-gfvvc65dl37u9upl9opgo3q1f7hmqh5n.apps.googleusercontent.com">
    <input type="hidden" name="redirect_uri" id="redirect_uri">
    <input type="hidden" name="response_type" value="token id_token">
    <input type="hidden" name="login_hint" id="login_hint">
    <input type="hidden" name="nonce" id="nonce">
    <input type="hidden" name="scope" value="openid">
    <button type="submit">Login über Google</button>
</form>