<div class="container">
    <section class="section">
        <nav class="link-section">
            <a href="#finished-gamesh">Vergangene Spiele</a>
            <a href="scoreboard" title="Rangliste - wettma" id="scoreboard-link" data-ref="spa-link">Rangliste</a>
            <a href="explanation" title="Spielanleitung - wettma" id="explanation-link"
                data-ref="spa-link">Spielanleitung</a>
        </nav>
        <h2>
            EM 2024 geschafft!
        </h2>
        Gratulation an die TippmeisterInnen:
        <ol>
            <li>🥇 Martin P.</li>
            <li>🥈 Tobias</li>
            <li>🥉 Lisi</li>
        </ol>
        Vielen Dank fürs Mitspielen, es hat uns sehr gefreut! 🎉
        <h2>
            Nächste Spiele
        </h2>
        <ol id="upcoming-games" class="gameslist">

        </ol>
        <h2 id="finished-gamesh">
            Vergangene Spiele
        </h2>
        <ol id="finished-games" class="gameslist">

        </ol>
        <button id="show-more">Mehr anzeigen</button>
    </section>
</div>