.app-bar__container {
    display: flex;

    background-color: #7cb342;
    justify-content: center;
}

.app-bar {
    max-width: 40em;
    width: 100%;
    padding-left: 1em;

    &>h1 {
        padding: 0;
        margin: 0;
        color: white;
    }

    height: 3em;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 1em;
}

.section {
    max-width: 40em;
    width: 100%;
}

.gameslist {
    margin: 0;
    padding: 0;

    &>li {
        list-style-type: none;
    }
}