<div class="container">
    <section class="section">
        <nav class="link-section">
            <a href="" id="back-link">zurück zur Startseite</a>
        </nav>
        <h2>"Wettma" ich werd Tippmeister</h2>
        <p>Tippe gegen deine Freunde und Familie auf die Spiele der Europameisterschaft 2024.</p>
        <p>
            Und so funktionierts:<br />In der App seht ihr auf einen Blick die kommenden Spiele und gleichzeitig die
            dazugehörigen Quoten. Ihr könnt auf Sieg einer der beiden Mannschaften oder auf ein Unentschieden
            (Gruppenphase)
            Tippen. Je nach Fortschritt des Turniers setzt ihr eine Punktezahl auf das Siegerteam (oder ein
            Unentschieden).
        </p>
        <p>
            Ist das Spiel das ihr Tippen wollt beispielsweise Italien - Spanien sieht man schnell und einfach die
            dazugehörigen Quoten. (z.B. Italien - 2,3 _ Unentschieden - 2,8 _ Spanien - 1,9).
            Ist das ein Gruppenspiel werden z.B. 2 Punkte gesetzt und ihr würden für einen richtigen Tipp auf Spanien
        </p>
        <p>
            2 * 1,9 = 3,8 Punkte
        </p>
        <p>
            für die Rangliste erhalten.
            Die Quoten werden bis zu alle 15 Minuten aktualisiert und ihr behaltet die Quote bei der ihr euren Tipp
            abgegeben
            habt.
        </p>

        <p>
            Hat sich eure Meinung geändert ist das auch kein Problem - ihr gebt einen neuen Tipp ab - diesmal aber
            mit den aktualisierten Quoten. Tipps können bis 5 Minuten vor Anpfiff des Spiels abgegeben werden. Die
            Siegerin oder der
            Sieger ist am Schluss natürlich die Person mit den meisten Punkten auf der Rangliste.
        </p>
        <p>
            Je fortgeschrittener das Turnier desto höher der Einsatz. So bleibt nicht nur das Turnier spannend - auch
            beim Tippen wird der Punktegewinn immer höher.

        <table class="points-table">
            <thead>
                <tr>
                    <td>Spielphase</td>
                    <td>So viel Punkte ist ein Spiel wert</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gruppenphase</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Achtelfinale</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Viertelfinale</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Halbfinale</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Finale</td>
                    <td>8</td>
                </tr>
            </tbody>
        </table>
        </p>
    </section>
</div>