$trans-props: 0.2s cubic-bezier(0, 0, 0.2, 1);

.odds-radio {
    border: 1px solid #387002;
    user-select: none;

    display: inline-flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $trans-props;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 4em;
    justify-content: center;

    &__input {
        position: absolute;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: inherit;
        z-index: 1;


        &:focus-visible+label {
            background-color: #99d066;
        }


        &:checked+label {
            background-color: #99d066;
        }
    }
}