<div class="bets-display__tab-header">
    <button data-ref="expand-all">Tipps von allen zeigen</button>
    <button data-ref="expand-computer">AI Tipp zeigen</button>
</div>
<div class="bets-display__content">
    <div data-ref="loading" class="status-msg saving">
        <span class="material-icons" title="Tipps werden geladen.">
            donut_large
        </span>
        Tipps werden geladen.
    </div>
    <table class="bets-table" style="display: none;">
        <thead>
            <tr>
                <td>
                    Teilnehmer/in
                </td>
                <td data-ref="team1label"></td>
                <td>-</td>
                <td data-ref="team2label"></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div data-ref="computer-bets">
        <h3>AI Tipp</h3>
    </div>
</div>