<a href="" data-ref="expand-link" class="expand-link">
    <span class="material-icons" data-ref="expand-arrow">
        expand_more
    </span>
    <span class="expand-link__text" data-ref="expand-text">
        Tipps von allen anzeigen
    </span>
</a>
<div data-ref="loading" class="status-msg saving">
    <span class="material-icons" title="Tipps werden geladen.">
        donut_large
    </span>
    Tipps werden geladen.
</div>
<table class="bets-table" style="display: none;">
    <thead>
        <tr>
            <td>
                Spieler/in
            </td>
            <td>Tipp</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>