.expand-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &>.material-icons {
        margin-right: 0.2em;
        transition: transform 0.2s ease-in-out;

        &.rotate {
            transform: rotate(180deg);
        }
    }

    &__text {
        text-decoration: underline;
    }
}

.bets-table {
    tr>td:not(:first-of-type) {
        text-align: center;
        width: 3em;
    }
    .material-icons {
        margin-top: 4px;
        font-size: 16px;
    }
}